/* main header styles */

.logo {
	fill: rgb(255, 56, 92);
	width: 33%;
	display: flex;
	justify-content: flex-start;
}

.logo svg {
	cursor: pointer;
}

#mainHeader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
	height: 5rem;
	background-color: white;
	color: #484848;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	font-size: 0.9rem;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
	user-select: none;
}

#headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	padding: 0 5% 0 6%;
}

.search-wrapper {
	display: flex;
	justify-content: center;
	width: auto;
}

.search-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5rem;
	height: 3rem;
	cursor: pointer;
	transition: 0.1s;
	padding-left: 0.5rem;
}

.search-container:hover {
	box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 3px;
}

.search-loop-wrapper {
	margin-right: 0.5rem;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	background-color: rgb(255, 56, 92);
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search-loop-icon {
	width: 1rem;
	height: 1rem;
}

.inner-header-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 33%;
}

.inner-header-container div {
	cursor: pointer;
	margin: 0 0.75rem;
}

/* #littleSearchLabel {
	
} */

#littleSearchLabel div {
	padding-left: 1rem;
	padding-right: 1rem;
}

#littleSearchLabel .search-specific-location {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#littleSearchLabel .search-specifics-expanded {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#littleSearchLabel .start-your-search {
	padding: 0 8rem 0 1rem;
}

#littleSearchLabel .add-dates-in-search {
	display: flex;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.search-line-height {
	line-height: 1.25rem;
}

.search-divs-width {
	width: 7rem;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.search-location-width {
	min-width: max-content;
}

.search-specifics-expanded .add-dates-in-search>div {
	display: flex;
	flex-direction: column;
}

.search-specifics-expanded input {
	outline: none;
	border: none;
}

.search-specifics-expanded .add-guests-in-search {
	display: flex;
	flex-direction: column;
}

.search-specifics-expanded .add-dates-in-search>div:first-child {
	border-right: 1px solid lightgray;
}

.login-container {
	display: flex;
	justify-content: space-around;
	border: 1px solid #DDDDDD;
	border-radius: 2rem;
	align-items: center;
	transition: 0.3s;
	width: 4rem;
	height: 2.5rem;
	padding: 0 0.1rem 0 0.5rem;
}

.bold {
	font-weight: bold;
	color: black;
}

.login-container:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.default-profile-img {
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
}

.login-menu-icon {
	width: 1rem;
	height: 1rem;
}

main {
	width: 100%;
}

#expWhiteField {
	height: 0rem;
}