/* main header styles */

.logo {
	fill: rgb(255, 56, 92);
	width: 33%;
	display: flex;
	justify-content: flex-start;
}

.logo svg {
	cursor: pointer;
}

#mainHeader {
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
	height: 5rem;
	background-color: white;
	color: #484848;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	font-size: 0.9rem;
}

#headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0 5% 0 6%;
}

.search-wrapper {
	display: flex;
	justify-content: center;
	width: 33%;
}

.search-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgb(221, 221, 221);
	width: 18.5rem;
	border-radius: 2rem;
	height: 2.7rem;
	cursor: pointer;
}

.search-loop-wrapper {
	margin-right: 0.5rem;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	background-color: rgb(255, 56, 92);
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search-loop-icon {
	width: 1rem;
	height: 1rem;
}

.inner-header-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 33%;
}

.inner-header-container div {
	cursor: pointer;
	margin: 0 0.75rem;
}

#littleSearchLabel {
	padding: 0 1.5rem;
}

.login-container {
	display: flex;
	justify-content: space-around;
	border: 1px solid #DDDDDD;
	border-radius: 2rem;
	align-items: center;
	transition: 0.3s;
	width: 4rem;
	height: 2.5rem;
	padding: 0 0.1rem 0 0.5rem;
}

.login-container:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.default-profile-img {
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
}

.login-menu-icon {
	width: 1rem;
	height: 1rem;
}

main {
	width: 100%;
}