/* live anywhere section */

@import url('https://fonts.googleapis.com/css2?family=Roboto$display=swap');

#liveAnywhereSection {
    width: 100%;
    height: 25rem;
    padding: 3rem 4.5rem;
    margin-top: 5rem;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    color: #222222;
}

#liveAnywhereSection .section-header {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
}

#liveAnywhereContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

#liveAnywhereContainer .general-card {
    position: relative;
    width: 23%;
    height: 21vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.5rem;
    user-select: none;
}

#liveAnywhereContainer .general-card .background-img {
    
    margin: 0 0 0.5rem 0;
    border-radius: 0.5rem;
    background-image: url(/assets/images/entire-home-image.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#liveAnywhereContainer .general-card .pets-welcome {
    background-image: url(/assets/images/pets-friendly-image.jpg);
}

#liveAnywhereContainer .general-card .unique-stays {
    background-image: url(/assets/images/unique-stays-image.jpg);
}

#liveAnywhereContainer .general-card .cabbins-and-cottages {
    background-image: url(/assets/images/cabbins-and-cottages-image.jpg);
}

#liveAnywhereContainer .general-card .entire-homes {
    background-image: url(/assets/images/entire-home-image.jpg);
}

#liveAnywhereContainer .general-card .place-title {
    bottom: 0;
    margin-bottom: 1rem;
}

#liveAnywhereContainer .general-card:hover {
    -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.87);
    box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.87);
}
