#targetStayContainer {
    margin-top: 6rem;
    width: 100%;
    padding: 0 7.5%;
}

.single-stay-title {
    font-size: 1.75rem;
}

#targetStayContainer .general-info-and-like-btn img {
    height: 1rem;
    /* margin-right: 0.3rem; */
}

#targetStayWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.locationWrapper {
    color: #616161;;
}

.stayImg {
    border-radius: 0.75rem;
}

.title-for-stay {
    font-size: 1.25rem;
}

.general-info-and-like-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 1.4rem;
}

.host-icon-container {
    position: relative;
    background-image: url('images/userProfilePicTest.webp');
    background-position: center;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
}

#superHostIcon {
    width: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.stay-type-and-host-container {
    display: flex;
    /* min-width: 35%; */
    justify-content: space-between;
    margin: 1rem 0;
}

.bottom-line {
    border-bottom: lightgray 1px solid;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.stay-specifics-container > div {
    display: flex;
    padding: 1rem 0;
}

.stay-specifics-container img {
    height: 1.5rem;
    padding-right: 1rem;
}

.underlined {
    text-decoration: underline;
}

.general-info-and-like-btn > div {
    display: flex;
}

.horizontal-padding {
    padding: 0 0.3rem;
}

.padding-bottom {
    padding-bottom: 0.5rem;
}

.horizontal-margin {
    margin: 0 0.5rem;
}

.big-horizontal-margin {
    margin: 0 1.5rem;
}

.vertical-margin {
    margin: 0.5rem 0;
}

.stay-description {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.color-gray {
    color: gray;
}

.color-darkgray {
    color: rgb(87, 86, 86);
}

.hostTypeWrapper {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.ai-center {
    align-items: center !important;
}

.small-margin-right {
    margin-right: 0.3rem;
}

.small-font-size {
    font-size: 0.85rem;
}


/* <div class="stay-type-info"></div>
<div class="enhanced-clean-info"></div>
<div class="super-host-info"></div>
<div class="cancellation-policy-info"></div>
<div class="house-rules-info"></div> */