#host-your-home {
    display: block;
    margin-top: 5rem;
    width: 100%;
    margin-bottom: 10rem;
}
#host-your-home .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#progress-bar {
    position: relative;
    width: 100%;
    border: 1px lightgray solid;
    background-color: lightgray;
    border-radius: 12px;
}
#progress-steps {
    position: absolute;
    display: flex;
    width: 100%;
}
#progress-steps div {
    width: 20%;
    border-radius: 12px;
    height: 15px;
}
#progress {
    background-color: rgb(189, 30, 89);
    border-radius: 12px;
    width: 20%;
    height: 15px;
}

#get-started {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#get-started > div {
    display: flex;
    flex-direction: column;
}
#host-your-home h3 {
    font-size: 1.6rem;   
}
div.heading {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 20px auto;
}
fieldset {
    border: 1px solid rgb(205, 205, 205);
    border-radius: 16px;
    padding: 1rem;
}
fieldset legend {
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 30px;
}
.content {
    display: none;
    flex-direction: column;
    transition: all 1s ease;
}
button {
    border: 1px solid black;
}

.continue {
    display: block;
    width: 100px;
    margin: 0 auto; 
    background-color: rgb(189, 30, 89);
    border-radius: 8px;
    border: none;
    color: white;
    margin: 10px;
    padding: 9px;
}

#uploadImages > div > img {
    width: 100px;
}

#HYH {
    display: block;
    width: max-content;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 50px;
    background-color: rgb(255, 56, 92);
    border-radius: 16px;
}
.collapsible {
    height: 35px;
    border-radius: 16px;
    background-color: white;
    border-color: rgb(205, 205, 205);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 1rem;
}
.collapsible:focus {
    outline: none;
}
.active {
    background-color: rgb(239, 239, 239);
    font-weight: 800;
}

*:focus-visible {
    outline: none;
    transition: box-shadow 0.2s ease 0s;
    box-shadow: rgb(34, 34, 34) 0px 0px 0px 1px;
}

.wrong {
    border-color: red;
}

#get-started-heading { 
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2rem;
}
.userName {
    display: inline-block;
    font-size: 1.4rem;
    margin: 1.4rem;
}
#place-location {
    display: flex;
    flex-direction: column;
}
#place-location :is(input, select),
#type :is(input, select, textarea) {
    margin-bottom: rem;
}
#type div {
    display: flex;
}
#type div label {
    margin-right: 1rem;
}
#description {
    width: 400px;
    height: 80px;
}
#step3 label {
    margin-right: 1rem;
}
#step3 fieldset:not(:last-child) {
    margin-bottom: 1rem;
}
#rules {
    display: flex;
    flex-wrap: wrap;
}
#rules :is(input[type="time"]) {
    margin-right: 1rem;
}
#rules :is(input[type="checkbox"]) {
    margin-left: 1rem;
}